[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
sympy = "*"
matplotlib = "*"
ipython = "*"
pandas = "*"
ipykernel = "*"
flask = "*"
requests = "*"
beautifulsoup4 = "*"
seaborn = "*"
statsmodels = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
